@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
    --verde-medio: #88BF50;
    --verde-claro: #DFF2B6;
    --verde-suave: #DFF2B6;
    --negro: #0D0D0D;
    --blanco: #FFFFFF;
    --gris-oscuro: #333333;
    --transicion: 0.3s ease;
}

footer {
    background-color: var(--verde-claro);
    color: var(--verde-claro);
    padding: 1.5rem 1rem; /* Reducido aún más el padding */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.5rem; /* Reducido el gap */
}

footer .footer-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Reducido el gap */
}

footer h3 {
    color: var(--verde-medio);
    font-size: 1.2rem; /* Tamaño de fuente ligeramente más pequeño */
    margin-bottom: 0.3rem;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.2rem; /* Espacio reducido entre los elementos del menú */
}

footer ul li {
    font-size: 0.9rem; /* ajuste de fuente en dimencion del tamaño */
}

footer ul li a {
    color: var(--negro);
    text-decoration: none;
    transition: color var(--transicion);
}

footer ul li a:hover {
    color: var(--verde-medio);
}

footer p, footer a {
    color: var(--negro);
    font-size: 0.9rem; /* Tamaño de fuente */
    text-decoration: none;
    transition: color var(--transicion);
}

footer .social-icons {
    display: flex;
    gap: 0.8rem; /* reduccion de espacio entre íconos */
    margin-top: 0.2rem; /* Margen más pequeño */
}

footer .social-icons a {
    color: var(--verde-claro);
    font-size: 0.8rem; /* Tamaño reducido */
    transition: color var(--transicion), transform var(--transicion);
}

footer .social-icons a:hover {
    color: var(--verde-medio);
    transform: scale(1.1);
}

footer .newsletter input[type="email"] {
    padding: 0.2rem 0.4rem; /* reducido del pading */
    border: none;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    width: 100%;
}

footer .newsletter button {
    padding: 0.2rem 0.6rem; /* reduccion del pading */
    border: none;
    border-radius: 5px;
    background-color: var(--verde-medio);
    color: var(--blanco);
    cursor: pointer;
    transition: background-color var(--transicion), transform var(--transicion);
}

footer .newsletter button:hover {
    background-color: var(--verde-oscuro);
    transform: scale(1.05);
}

footer .bottom-bar {
    grid-column: 1 / -1;
    text-align: center;
    border-top: 1px solid var(--gris-oscuro);
    padding-top: 0.1rem; /* Reduccion del pading */
    font-size: 0.9rem; /* Fuente más chica */
    color: var(--verde-claro);
}
